/.idea/
/.gradle/
/.cxx/
/local.properties

/build/
/.build/

*.iml
*.iws
*.ipr

google-services.json
/firebase/

.DS_Store
Thumbs.db

*.kt~
*.kts~

/logs/
*.log

/gradle/wrapper/gradle-wrapper.jar
